<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Tracker</title>
</head>
<body>
    <h1>Financial Tracker</h1>
    <p>This is your Personal Dashboard</p>
    
</body>
</html>